.button {
    -fx-text-fill: wheat;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    //-fx-background-color: linear-gradient(gray, darkslategrey);
   -fx-background-color: gray;
}
.root{
    //-fx-background-color: linear-gradient(#011c21,#073b45);
    -fx-background-color :linear-gradient(#071833,#004d94);


    -fx-background-image: url(../images/back2.png);
}
.label {
    -fx-font-size: 20px;
    -fx-font-family: Candara ;
    -fx-alignment: center;
    //-fx-background-color: #3285a8;
    -fx-font-weight:bold;
    -fx-text-fill: wheat;
    -fx-effect: dropshadow( gaussian , rgba(214, 66, 20, 0.5), 0,0,0,1 );
   // -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.table-row-cell:selected {
    -fx-background-color:gray ;

}
.table-row-cell:filled:selected:default.text{
    -fx-text-fill: wheat;
}
.table-row-cell:selected .text {
     -fx-fill: #ffffff;


 }
.table-row-cell:default.text{
    -fx-text-fill: wheat;
}

.table-row-cell{
    -fx-font-weight:bold;
    -fx-font-size: 14;
    //-fx-background-color:#0e232b ;
    -fx-background-color: #021a40;
    -fx-text-fill: wheat;

}
.list-cell{
    -fx-background-image: url(../images/friends.png);
    -fx-background-color: transparent;

    -fx-text-fill: #021a40;
}


.table-view{

   // -fx-background-color: #0e232b;
    -fx-background-color:#021a40;

    //-fx-background-image: url(../images/L2cq.gif);

}
.table-cell {
    -fx-text-fill:#dadebd gray;
}
.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-background-color:  #06181f;
}

.combo-box{

    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#6b03fc, wheat);
    //-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.combo-box.button{
   // -fx-background-color: #0e232b;
    -fx-background-color: #071e33;
    -fx-text-fill: wheat;
}
.text-field{
    //-fx-background-color: #06181f;
    -fx-background-color: #07193d;
    -fx-font-size: 14px;
    -fx-background-position: center;
    -fx-font-family: Candara ;
    -fx-alignment: center;
    -fx-font-style: italic;
    -fx-text-fill: wheat;
}
.text-field:disabled{
    -fx-opacity: 0.8;
}
.menu-bar{
    -fx-background-color: #06181f;
    -fx-font-size: 14px;
    -fx-background-position: center;
    -fx-font-family: Candara ;
    -fx-alignment: center;
    -fx-font-style: italic;
    -fx-text-fill: wheat;
}

.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: linear-gradient(#2cb7c9, wheat);
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected{
    -fx-background-insets: 0;
    -fx-background-color: #07193d;
    -fx-text-fill: wheat;
}
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0.5;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: #004d94;
    -fx-text-fill: white;
    -fx-min-width: 25;
    -fx-min-height: 25;
}

#anchor1{
    -fx-background-color :linear-gradient(#071833,#004d94);

    -fx-background-image: url(../images/back2.png);
    -fx-background-size: 500px 300px;
}
#anch2{
    -fx-background-color :linear-gradient(#071833,#004d94);

    -fx-background-image: url(../images/back2.png);
    -fx-background-size: 550px 450px;
}

.dialog-pane{
    -fx-background-color :linear-gradient(#071833,#004d94);
    -fx-background-image: url(../images/back2.png);
    -fx-background-size: 350px 200px;
    -fx-border-width:2.0px;
}

/**Costumization of The Bar where the buttons are located**/
/*.dialog-pane > .button-bar > .container {
    -fx-background-color:black;
}*/

.dialog-pane > .content.label {
    -fx-padding: 0.5em 0.5em 0.5em 0.5em;
    -fx-background-color :transparent;
    -fx-text-fill:wheat;
    -fx-font-size: 15px;
    -fx-background-position: center;
    -fx-font-family: Candara ;
    -fx-alignment: center;
    -fx-font-style: italic;
}

/**Costumization of DialogPane Header**/
/*.dialog-pane:header .header-panel {
    -fx-background-color: black;
}*/
.dialog-pane.column-header-background{
    -fx-background-color :linear-gradient(#071833,#004d94);
}
.dialog-pane:header .header-panel .label{
    /*-fx-background-image: url(../images/fr.png);
    -fx-background-size: 320px 80px;
    -fx-pref-height: 80;
    -fx-pref-width: 320;
    -fx-font-size: 17px;*/
    -fx-font-family: Candara ;
    -fx-alignment: center;
    -fx-font-weight:bold;
    -fx-text-fill: #071833;
}


/**Costumization of Buttons**/
.dialog-pane .button{
    -fx-background-color:darkgray;
    -fx-text-fill:wheat;
    -fx-wrap-text: true;

    -fx-cursor:hand;
}

.dialog-pane .button:hover{
    -fx-background-color:white;
    -fx-text-fill:black;
    -fx-font-weight:bold;
}
.text-area {

    -fx-font-size: 14px;
    -fx-background-position: center;
    -fx-font-family: Candara ;
    -fx-alignment: center;
    -fx-font-style: italic;
    -fx-text-fill: wheat;

}

.text-area .content {
    -fx-background-color: #07193d;
}
.text-area:disabled{
    -fx-opacity: 0.8;
}
.scroll-bar{
    -fx-background-color: #004d94;
}
